
@{
    // Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>

        <form>
            <div class="container">
                <div class="row">
                    <div class="form-iniciativa">
                        <div class="col-md-3">
                            <label for="iniciativa">Iniciativa</label>
                            <input type="text" id="iniciativa" name="iniciativa" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="data-aprovacao">Data Aprovação</label>
                            <input type="text" id="data-aprovacao" name="data-aprovacao" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="departamento">Departamento</label>
                            <select id="departamento" class="form-control">
                                <option value="0">Selecione o Departamento</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="nome-projeto">Nome Projeto</label>
                            <input type="text" id="nome-projeto" name="nome-projeto" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-esteira">
                        <div class="col-md-3">
                            <label for="esteira">Esteira</label>
                            <select class="form-control" id="esteira">
                                <option>Selecione Esteira</option>
                                <option>Expresso</option>
                                <option>Pequeno</option>
                                <option>Grande</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="cores">Farol</label>
                            <input type="color" id="cores" name="cores" list="arcoIris" value="#FF0000" class="form-control">
                            <datalist id="arcoIris">
                                <option value="#FF0000">Vermelho</option>
                                <option value="#FFA500">Laranja</option>
                                <option value="#FFFF00">Amarelo</option>
                                <option value="#008000">Verde</option>
                                <option value="#0000FF">Azul</option>
                                <option value="#4B0082">Indigo</option>
                                <option value="#EE82EE">Violeta</option>
                            </datalist>
                        </div>
                        <div class="col-md-3">
                            <label for="comentario-farol">Comentario</label>
                            <textarea maxlength="240" class="form-control" id="comentario-farol"></textarea>
                        </div>
                        <div class="col-md-3">
                            <label for="etapa">Etapa</label>
                            <input type="text" id="etapa" name="etapa" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var departamentos = [
            '4060 - Auditoria Fiscal',
            '6241 - BBF',
            '5100 - BBI',
            '8231 - BRAM',
            '4025 - Cartões',
            '4080 - Compras',
            '6565 - Consórcios',
            '4100 - Contadoria Geral',
            '4215 - Controladoria',
            '4220 - COP',
            '4224 - Corporate',
            '5900 - Corretoras',
            '4335 - Crédito',
            '4832 - CRM',
            '4010 - DAC',
            '4816 - DATI',
            '4864 - DBPP',
            '4820 - DCCE',
            '4312 - DCD',
            '4223 - DCIR',
            '4008 - DCPS',
            '4840 - DEF',
            '4040 - DEJUR',
            '4968 - DEPEC',
            '4975 - DGC',
            '4852 - DGD',
            '4250 - DITI',
            '4510 - DOC',
            '4251 - DPI',
            '4120 - DRC',
            '4240 - DRH',
            '8602 - DRI',
            '4253 - DS',
            '4800 - DSTN',
            '4920 - Expresso',
            '4249 - GTI',
            '4180 - IGL',
            '4900 - Internacional & Câmbio',
            '4898 - Investimentos',
            '9080 - Losango',
            '4165 - Marketing',
            '4960 - Ouvidoria',
            '4230 - Patrimônio',
            '4954 - Prime',
            '4980 - Private',
            '4260 - Secretaria Geral',
            '4859 - Segurança Corporativa',
            '4160 - Varejo'
        ];

        $("#departamento").append(departamentos.map(dep => `<option>${dep}</option>`))
    })
</script>
