<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Ocorreu um erro ao processar sua solicitação.</h2>

        <h3>Tente limpar o cache, sair e entrar novamente e realize uma nova tentaiva.</h3>
        <h2>Caso persista, por favor contatar o responsável pela aplicação.</h2>
        <h2> Lembr-se de informar qual foi a ação realizada antes de acontecer o erro.</h2>

    </hgroup>
</body>
</html>
