@model IEnumerable<NovoControleProjetos.Models.Etapa>

@{
    var _count = ViewBag.total;
    Layout = null;

}


@if (ViewBag.tipoLista == "drop")
{

    @Html.DropDownList("id-etapa", new SelectList(ViewBag.etapasInDrop, "id_etapa", "ds_etapa"), String.Empty, new { @class = "form-control" })
}
else
{

    foreach (var item in Model)
    {

        var iddata = item.Id_Etapa;

    <div class="row">
        <div class="col-md-3">
            <input type="checkbox" name="check-etapa" value="@item.Id_Etapa" />
            <label> @item.Ds_Etapa </label>
        </div>
        <div class='col-md-3'>
            <input id="inicio-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
        </div>
        <div class='col-md-3'>
            <input id="fim-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
        </div>
    </div>
    }

    @*@Html.CheckBoxList("chkModelsEtapas", (ViewBag.etapas as MultiSelectList), Position.Vertical, new { @class = "form-control" }, 2)*@
}




