@{
    Layout = null;
}

<div class="form-create-orcamento">
    <div class="col-md-3">
        <label for="total_aprovado">Total Aprovavado</label>
        <input type="number" id="total_aprovado" name="total_aprovado" class="form-control" />
    </div>
    <div class="col-md-3">
        <label for="total_realizado">Total Aprovado</label>
        <input type="number" id="total_realizado" name="total_realizado" class="form-control" />
    </div>
    <div class="col-md-3">
        <label for="total_contratado">Total Contratado</label>
        <input type="number" id="total_contratado" name="total_contratado" class="form-control" />
    </div>
</div>



