@{
    Layout = null;
}




<div class="row">
    <label for="total-aprovado">Total aprovado</label>
    <div class="input-group">
        <div class="input-group-addon">R$</div>
        <input type="text" style="width: 130px; text-align: right;" id="total-aprovado" name="total-aprovado" onkeypress="mascara( this, mvalor );" maxlength="14" class="form-control" />
    </div>
</div>

<div class="row">

    <label for="total-realizado">Total realizado</label>
    <div class="input-group">
        <div class="input-group-addon">R$</div>
        <input type="text" style="width: 130px; text-align: right;" id="total-realizado" name="total-realizado" onkeypress="mascara( this, mvalor );" maxlength="14" class="form-control" />
    </div>
</div>

<div class="row">
    <label for="total-contratado">Total contratado</label>
    <div class="input-group">
        <div class="input-group-addon">R$</div>
        <input type="text" style="width: 130px; text-align: right;" id="total-contratado" name="total-contratado" onkeypress="mascara( this, mvalor );" maxlength="14" class="form-control">
    </div>

</div>
@*<label for="total_contratado">Total Contratado</label>
    <input type="text" id="total_contratado" name="total_contratado" onkeypress="mascara( this, mvalor );" maxlength="14" class="form-control" />*@




