@model IEnumerable<NovoControleProjetos.Models.Canal>

@foreach (var item in Model)
{

    var iddata = item.Ativo;

    <div class="row">
        <div class="col-md-3">
            <input type="checkbox" value="@item.Id_Etapa" />
            <label> @item.Ds_Canal </label>
        </div>
        <div class='col-md-3'>
            <input id="inicio-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
        </div>
        <div class='col-md-3'>
            <input id="fim-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
        </div>
    </div>
}

