@{ 
    Layout = null;
}

@model IEnumerable<NovoControleProjetos.Models.Canal>

@foreach (var item in Model)
{

    var iddata = item.Id_Canal;



    <div class="col-md-3">
        <input type="checkbox" name="check-canal" value="@item.Id_Canal" />
        <label> @item.Ds_Canal </label>
    </div>
    <div class='col-md-3'>
        <input id="datacanal-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
    </div>


}

