@{
    Layout = null;
}



    <div class="form-create-jornada">

        <div class="col-md-3">
            <label for="ux">UX</label>
            @*<input type="checkbox" id="UX" name="ux" class="form-control" />*@

            <select id="ux" class="form-control">
                <option value="none"> - </option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="ux">Varejo Acompanhou?</label>
            @*<input type="checkbox" id="UX" name="ux" class="form-control" />*@

            <select id="varejo_acompanhou" class="form-control">
                <option value="none"> - </option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="comentario_jornada">Comentário</label>
            <input type="text" id="comentario_jornada" name="comentario_jornada" class="form-control" />
        </div>

    </div>



