

<body>
    <div id="sucesso" class="alert alert-dismissible alert-success" style="margin:4px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Parabéns !</strong> A operação foi efetuada com sucesso. <span><a href="@Html.Action("Home","Index")" class="btn btn-success">Success</a></span>>
    </div>
</body>
